<form class="formGroup" [formGroup]="aoiFormGroup">
  <app-card header="AOI" [innerCard]="true">
    <div class="container">
      <div class="row">
        <div class="col">
          <label for="lat">Latitude:</label>
          <input
            id="lat"
            type="number"
            class="input"
            formControlName="lat"
            placeholder="Latitude"
            (blur)="onFormUpdate()"
          />
          <label for="lon">Longitude:</label>
          <input
            id="lon"
            type="number"
            class="input"
            formControlName="lon"
            placeholder="Longitude"
            (blur)="onFormUpdate()"
          />
          <label for="alt">Altitude:</label>
          <input
            id="alt"
            type="number"
            formControlName="alt"
            class="readonly input"
            placeholder="Altitude"
            (blur)="onFormUpdate()"
          />
          <label for="radius">Radius:</label>
          <input
            id="radius"
            type="text"
            formControlName="radius"
            class="input"
            placeholder="Radius"
            (blur)="onFormUpdate()"
          />
        </div>
      </div>
    </div>
  </app-card>
</form>
