<div
  class="modal fade modal-custom"
  tabindex="-1"
  role="dialog"
  #platformModal
  id="platformModal"
  aria-labelledby="platformModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content modal-dimensions">
      <div class="modal-header">
        <h5 class="modal-title">{{ name }} Editor</h5>
      </div>
      <div class="modal-body">
        <div *ngIf="platform" class="row">
          <div class="col">
            <app-card header="Info" class="app-card" [fullHeight]="true">
              <div class="row">
                <div class="col">
                  <label for="name">Name</label>
                  <input
                    id="name"
                    type="text"
                    [(ngModel)]="name"
                    [ngClass]="{
                      name: true,
                      'red-outline': validatedInput.name !== undefined,
                    }"
                    (blur)="validate()"
                  />
                  <label for="friendly">Is Friendly</label>
                  <input
                    id="friendly"
                    type="checkbox"
                    [(ngModel)]="friendly"
                    [ngClass]="{
                      checkbox: true,
                      'red-outline': validatedInput.friendly !== undefined,
                    }"
                    (blur)="validate()"
                  />
                  <label for="color">Platform Waypoint Color</label>
                  <p-colorpicker
                    [(ngModel)]="color"
                    (ngModelChange)="ngModelChange($event)"
                    inputId="cp-hex"
                    class="mb-4"
                  />
                </div>
                <div class="col">
                  <label for="reportingFrequency">Reporting Freq</label>
                  <input
                    id="reportingFrequency"
                    type="number"
                    [(ngModel)]="reportingFrequency"
                    [ngClass]="{
                      'input-small': true,
                      'red-outline':
                        validatedInput.reportingFrequency !== undefined,
                    }"
                    (blur)="validate()"
                  />
                  <label for="maxSpeed">Max Speed</label>
                  <input
                    id="maxSpeed"
                    type="number"
                    [(ngModel)]="maxSpeed"
                    [ngClass]="{
                      'input-small': true,
                      'red-outline': validatedInput.maxSpeed !== undefined,
                    }"
                    (blur)="validate()"
                  />
                  <div *ngIf="type != 'GROUND'" class="col">
                    <label for="maxZ"
                      >Max {{ type == "AIR" ? "Alt" : "Depth" }}</label
                    >
                    <input
                      id="maxZ"
                      type="number"
                      [(ngModel)]="maxZ"
                      [ngClass]="{
                        'input-small': true,
                        'red-outline': validatedInput.maxZ !== undefined,
                      }"
                      (blur)="validate()"
                    />
                  </div>
                </div>
                <div class="col">
                  <label tooltip="Type" for="type">Type</label>
                  <select [(ngModel)]="type" id="type" size="small">
                    <option
                      *ngFor="let option of platformTypeOptions"
                      [value]="option"
                    >
                      {{ option }}
                    </option>
                  </select>
                </div>
              </div>
            </app-card>
          </div>
          <div class="col">
            <app-card
              header="Functionality"
              class="app-card"
              [fullHeight]="true"
            >
            </app-card>
          </div>
        </div>
        <div class="row">
          <!-- waypoints -->
          <div class="col waypoints">
            <app-card header="Waypoints" class="app-card">
              <div class="flex-modal">
                <div clas="custom-table">
                  <div class="add-waypoint"></div>
                  <div class="table-responsive table-custom">
                    <table
                      class="table table-striped table-dark table-hover table-condensed"
                    >
                      <thead>
                        <tr>
                          <th title="index" scope="col" class="actions">#</th>
                          <th title="latitude" scope="col">Lat</th>
                          <th title="longitude" scope="col">Lon</th>
                          <th
                            title="z-index in kilometers"
                            scope="col"
                            *ngIf="type !== 'GROUND'"
                          >
                            {{ type == "AIR" ? "Alt (km)" : "Depth (km)" }}
                          </th>
                          <th title="speed" scope="col">Speed</th>
                          <th title="semi-major in kilometers" scope="col">
                            Smaj (km)
                          </th>
                          <th title="semi-minor in kilometers" scope="col">
                            Smin (km)
                          </th>
                          <th title="orientation in degrees" scope="col">
                            Orient. (deg)
                          </th>
                          <th title="date/time" scope="col">Date/Time</th>
                          <th title="row actions" scope="col" class="actions">
                            Actions
                          </th>
                        </tr>
                      </thead>
                      <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                        <tr>
                          <th></th>
                          <td>
                            <input
                              id="LatInput"
                              type="number"
                              [(ngModel)]="latInput"
                              required
                              [ngClass]="{
                                'input-small': true,
                                'red-outline':
                                  validatedWaypointCreation.lat !== undefined,
                              }"
                            />
                          </td>
                          <td>
                            <input
                              id="LonInput"
                              type="number"
                              [(ngModel)]="lonInput"
                              required
                              [ngClass]="{
                                'input-small': true,
                                'red-outline':
                                  validatedWaypointCreation.lon !== undefined,
                              }"
                            />
                          </td>
                          <td *ngIf="type !== 'GROUND'">
                            <input
                              id="ZInput"
                              type="number"
                              [(ngModel)]="zInput"
                              required
                              [ngClass]="{
                                'input-small': true,
                                'red-outline':
                                  validatedWaypointCreation.z !== undefined,
                              }"
                            />
                          </td>
                          <td>
                            <input
                              id="SpeedInput"
                              type="number"
                              [(ngModel)]="speedInput"
                              required
                              [ngClass]="{
                                'input-small': true,
                                'red-outline':
                                  validatedWaypointCreation.speedKts !==
                                  undefined,
                              }"
                            />
                          </td>

                          <td>
                            <input
                              id="smajInput"
                              type="number"
                              [(ngModel)]="smajInput"
                              required
                              [ngClass]="{
                                'input-small': true,
                                'red-outline':
                                  validatedWaypointCreation.smaj !== undefined,
                              }"
                            />
                          </td>
                          <td>
                            <input
                              id="sminInput"
                              type="number"
                              [(ngModel)]="sminInput"
                              required
                              [ngClass]="{
                                'input-small': true,
                                'red-outline':
                                  validatedWaypointCreation.smin !== undefined,
                              }"
                            />
                          </td>
                          <td>
                            <input
                              id="orientationInput"
                              type="number"
                              [(ngModel)]="orientationInput"
                              required
                              [ngClass]="{
                                'input-small': true,
                                'red-outline':
                                  validatedWaypointCreation.orientation !==
                                  undefined,
                              }"
                            />
                          </td>

                          <td>
                            <input
                              id="datetimeInput"
                              type="datetime-local"
                              [(ngModel)]="datetimeInput"
                              [max]="maxDateTime"
                              [min]="minDateTime"
                              required
                              [ngClass]="{
                                'datetime-dimensions': true,
                                'red-outline':
                                  validatedWaypointCreation.datetime !==
                                  undefined,
                              }"
                            />
                          </td>
                          <td>
                            <fa-icon
                              [icon]="addIcon"
                              (click)="addWaypoint()"
                              title="Add Waypoint"
                              [ngClass]="{
                                'icon-button': true,
                                'green-icon': true,
                              }"
                            ></fa-icon>
                          </td>
                        </tr>
                        <tr
                          *ngFor="let waypoint of waypoints; let i = index"
                          cdkDrag
                          cdkDragLockAxis="y"
                        >
                          <th class="col-xs">
                            <div class="drag-handle">
                              <ng-container [ngTemplateOutlet]="dragHandleTmpl">
                              </ng-container>
                            </div>
                          </th>
                          <td>
                            <input
                              id="WaypointLatInput-{{ i }}"
                              type="number"
                              [(ngModel)]="waypoint.lat"
                              required
                              (blur)="validate()"
                              [ngClass]="{
                                'input-small': true,
                                'red-outline': getWaypointInvalid(i, 'lat'),
                              }"
                            />
                          </td>
                          <td>
                            <input
                              id="WaypointLonInput-{{ i }}"
                              type="number"
                              [(ngModel)]="waypoint.lon"
                              required
                              (blur)="validate()"
                              [ngClass]="{
                                'input-small': true,
                                'red-outline': getWaypointInvalid(i, 'lon'),
                              }"
                            />
                          </td>
                          <td *ngIf="type != 'GROUND'">
                            <input
                              id="WaypointZInput-{{ i }}"
                              type="number"
                              [(ngModel)]="waypoint.z"
                              (blur)="validate()"
                              [ngClass]="{
                                'input-small': true,
                                'red-outline': getWaypointInvalid(i, 'z'),
                              }"
                            />
                          </td>
                          <td>
                            <input
                              id="WaypointSpeedInput-{{ i }}"
                              type="number"
                              [(ngModel)]="waypoint.speedKts"
                              (blur)="validate()"
                              required
                              [ngClass]="{
                                'input-small': true,
                                'red-outline': getWaypointInvalid(
                                  i,
                                  'speedKts'
                                ),
                              }"
                            />
                          </td>
                          <td>
                            <input
                              id="waypointSmajInput-{{ i }}"
                              type="number"
                              [(ngModel)]="waypoint.smaj"
                              (blur)="validate()"
                              required
                              [ngClass]="{
                                'input-small': true,
                                'red-outline': getWaypointInvalid(i, 'smaj'),
                              }"
                            />
                          </td>
                          <td>
                            <input
                              id="waypointSminInput-{{ i }}"
                              type="number"
                              [(ngModel)]="waypoint.smin"
                              (blur)="validate()"
                              required
                              [ngClass]="{
                                'input-small': true,
                                'red-outline': getWaypointInvalid(i, 'smin'),
                              }"
                            />
                          </td>
                          <td>
                            <input
                              id="waypointOrientationInput-{{ i }}"
                              type="number"
                              [(ngModel)]="waypoint.orientation"
                              (blur)="validate()"
                              required
                              [ngClass]="{
                                'input-small': true,
                                'red-outline': getWaypointInvalid(
                                  i,
                                  'orientation'
                                ),
                              }"
                            />
                          </td>
                          <td>
                            <input
                              id="WaypointDateTimeInput-{{ i }}"
                              type="datetime-local"
                              [(ngModel)]="waypoint.datetime"
                              [max]="maxDateTime"
                              [min]="minDateTime"
                              required
                              (blur)="validate()"
                              [ngClass]="{
                                'datetime-dimensions': true,
                                'red-outline': getWaypointInvalid(
                                  i,
                                  'datetime'
                                ),
                              }"
                            />
                          </td>
                          <td class="actions">
                            <div class="table-buttons">
                              <fa-icon
                                [icon]="copyIcon"
                                (click)="duplicateWaypoint(i)"
                                title="Duplicate Waypoint"
                                class="icon-button"
                              ></fa-icon>
                              <fa-icon
                                [icon]="removeIcon"
                                (click)="deleteWaypoint(i)"
                                title="Delete Waypoint"
                                [ngClass]="{
                                  'icon-button': true,
                                  'red-icon': true,
                                }"
                              ></fa-icon>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </app-card>
          </div>
          <div class="col map-div">
            <div class="mouse-container">
              <div
                #platformMousePositionDisplay
                id="platformMousePositionDisplay"
                class="mouse-position"
              ></div>
            </div>
            <div
              #mapContainerPlatform
              id="mapContainerPlatform"
              class="map-dimensions"
            ></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div *ngIf="errorMessage">
          <p class="error" title="{{ errorMessage }}">
            {{ errorMessage }}
          </p>
        </div>

        <button
          type="button"
          class="btn btn-primary"
          (click)="closeAndSaveModal()"
        >
          Save changes
        </button>
        <button
          type="button"
          class="btn btn-error"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          Quit
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #dragHandleTmpl>
  <svg
    class="bi bi-list handle"
    width="1em"
    height="1em"
    viewBox="0 0 16 16"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
      clip-rule="evenodd"
    />
  </svg>
</ng-template>
