@use "styles" as style;

form {
  display: flex;
  flex-direction: column;
  // this is the style outside the margins, so add margine back in
  height: calc(style.$panel-height + (style.$panel-margin * 2));
  min-height: calc(style.$panel-height + (style.$panel-margin * 2));
  max-height: calc(style.$panel-height + (style.$panel-margin * 2));
  overflow: hidden;
}

.col {
  height: style.$panel-height;
  width: calc(50vw - 4px);
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: style.$panel-margin;
  width: calc(100vw - 8px);
  min-width: calc(100vw - 8px);
  max-width: calc(100vw - 8px);
  padding: 0px;
  overflow: hidden;
}

.input-panel {
  height: 100%;
}

.main-content {
  height: style.$panel-height;
  width: 100vw;
}

.panels {
  display: flex;
  flex-direction: row;
}

.row {
  padding: 0px !important;
  display: flex;
  margin: 0px !important;
  padding: 0px !important;
}
