<div class="main-content">
  <form *ngIf="formGroup" [formGroup]="formGroup">
    <div class="container">
      <div class="col">
        <app-scenario-input-panel
          class="input-panel"
          [scenarioInput]="getFormGroup('scenarioInput')"
          [formUpdated]="onUpdated.bind(this)"
          (onSubmit)="onSubmit()"
        />
      </div>

      <div class="col">
        <!-- TODO add form group -->
        <app-external-card
          [formGroup]="getFormGroup('external')"
          [formUpdated]="onUpdated.bind(this)"
        />
        <app-map />
      </div>
    </div>
  </form>
</div>
