@use "../card.component.scss" as card;
@use "../../panels/panel.scss";
@use "styles" as style;
@use "variables" as customVars;

input {
  width: 170px;
}

.button {
  border-width: 0px;
  border-radius: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
  background-color: style.$success;
  width: 100%;
  margin-right: 4px;
}

.button:hover {
  background-color: style.$success-hover;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  flex-direction: column;
}

.dropdown-menu {
  z-index: 10;
  margin: 0.5rem;
  height: 200px;
  width: 200px;
}

.dialog {
  position: absolute;
  z-index: 11;
  height: 100vh;
  width: 100vw;
}

.disabled {
  border: 1px solid style.$light;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.main-content {
  overflow: hidden;
}

.platforms {
  margin-top: 4px;
}

.platform-inner {
  overflow-y: auto;
  max-height: 415px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
