<app-card header="Scenario Input">
  <form class="formGroup" [formGroup]="scenarioInput">
    <app-card [innerCard]="true" header="Info">
      <div class="row-1 mutli-col">
        <div class="col">
          <label name="startTime" for="startTime"> Start Time </label>
          <input
            type="datetime-local"
            formControlName="startTime"
            id="startTime"
            (blur)="onUpdated()"
          />
        </div>
        <div class="col">
          <label name="endTime" for="endTime"> End Time </label>
          <input
            type="datetime-local"
            formControlName="endTime"
            id="endTime"
            (blur)="onUpdated()"
          />
        </div>
      </div>
    </app-card>
    <app-aoi-card
      [aoiFormGroup]="getFormGroup('aoi')"
      [formUpdated]="onUpdated.bind(this)"
    />
    <app-card
      header="Platforms ({{ platformCount }})"
      [innerCard]="true"
      [icons]="icons"
    >
      <div class="platform-inner">
        <div *ngFor="let platformForm of formGroups; let i = index">
          <div *ngIf="platformForm != undefined">
            <app-platform-card
              id="i"
              [index]="i"
              [platformForm]="platformForm"
              [shouldShowWaypointTableRows]="shouldShowWaypointTableRows"
              [redIcon]="true"
              (onDeleteClicked)="removePlatform(i)"
              (onCopyClicked)="duplicatePlatform(i)"
              [formUpdated]="onUpdated.bind(this)"
            />
          </div>
        </div>

        <div class="buttons">
          <button
            class="btn button dropdown-toggle"
            type="button"
            data-bs-target="navbarDropdown"
            data-bs-toggle="dropdown"
            id="dropdownmenu"
          >
            <fa-icon [icon]="addIcon"></fa-icon>
            Add Custom Platform
          </button>
          <div
            class="dropdown-menu dropdown-menu-end"
            id="navbarDropdown"
            aria-labelledby="navbarDropdown"
          >
            <a class="dropdown-item disabled">Add Platform</a>
            <a class="dropdown-item disabled">Help</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item disabled">System Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item disabled">Logout</a>
          </div>

          <!-- <button
            class="btn button dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            
          </button> -->
          <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" (click)="addPlatform()">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div> -->
          <button class="btn button disabled" (click)="addPlatform()" disabled>
            <fa-icon [icon]="addIcon"></fa-icon>
            Import Platform
          </button>
        </div>
      </div>
    </app-card>
  </form>
</app-card>
