@use "../card.component.scss" as card;
@use "../../panels/panel.scss";
@use "styles" as style;
@use "variables" as customVars;

.button {
  border-width: 0px;
  border-radius: 5px;
  margin: 4px;
  margin: 4px;
  background-color: style.$success;
}

.button:hover {
  background-color: style.$success-hover;
}

.container {
  flex-direction: column;
}

.dialog {
  position: absolute;
  z-index: 11;
  height: 100vh;
  width: 100vw;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.platforms {
  margin-top: 4px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
