@use "../../cards/card.component.scss" as card;
@use "../panel.scss";
@use "styles" as style;
@use "variables" as customVars;

input {
  max-width: 170px;
}

.bottom-button {
  position: absolute;
  bottom: 4px;
  display: flex;
  justify-content: center;
}

.button {
  border-width: 0px;
  border-radius: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
  background-color: style.$success;
  width: 100%;
  margin-right: 4px;
}

.button:hover {
  background-color: style.$success-hover;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  flex-direction: column;
}

.dropdown-menu {
  z-index: 10;
  margin: 0.5rem;
  height: 200px;
  width: 200px;
}

.dialog {
  position: absolute;
  z-index: 11;
  height: 100vh;
  width: 100vw;
}

.disabled {
  border: 1px solid style.$light;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.main-content {
  overflow: hidden;
}

.panel-dimensions {
  height: calc(100% - 4px);
}

.platforms {
  margin-top: 4px;
}

.platform-inner {
  overflow-y: auto;
  // 20*2 for card header heights
  // 28.5 for panel header height
  // 166 for info card height
  // 40px for submit button
  max-height: calc(
    100vh - 166px - (style.$classification-banner-height * 2) - (20px * 3) -
      28.5px - (style.$panel-padding * 8) - (40px)
  );
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
