@use "styles" as style;
@use "variables" as customVars;
@use "../panel.scss";

form {
  height: 100%;
}

.bottom-button {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

.inputs {
  height: calc(100% - 30px);
  overflow: auto;
}

.panel-dimensions {
  height: calc(100% - 4px);
}

.submit {
  border-radius: 5px;
  padding: style.$default-margin;
  margin-bottom: calc(style.$default-margin * 2);
}
