<div class="panel-style panel-dimensions">
  <div class="content">
    <div class="title">
      <h1>User Input</h1>

      <div class="right-buttons">
        <button class="btn" disabled>
          <fa-icon [icon]="importIcon"></fa-icon>
          Import Config
        </button>
        <button class="btn" disabled>
          <fa-icon [icon]="exportIcon"></fa-icon>
          Export Config
        </button>
      </div>
    </div>

    <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <!-- TODO add form group -->
      <div class="inputs">
        <app-platform-card />
        <app-tools-card />
      </div>

      <div class="bottom-button">
        <button class="submit" type="submit">Generate Scenario</button>
      </div>
    </form>
  </div>
</div>
