@use "styles" as style;
@use "variables" as customVars;

$card-header-height: 20px;
$card-header-margin: 4px;

h3 {
  margin: 1px;
}

.col {
  display: flex;
  align-items: center;
}

.card {
  padding: customVars.$card-padding;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 4px;
  border-style: solid;
  border-color: style.$light;
}

.card-title {
  border-bottom: solid 1px whitesmoke;
  display: flex;
  justify-content: space-between;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  height: $card-header-height;
  margin-bottom: $card-header-margin;
  align-items: center;
}

.checkbox {
  margin-right: 4px;
}

.default-card {
  background: style.$primary-dark;
}

.delete {
  background-color: style.$danger;
  border-radius: 8px;
  border-color: style.$danger;
  padding: 2px;
  font-size: 1rem;
}

.delete:hover {
  background-color: style.$danger-hover;
}

.icon-button {
  display: inline-block;
  font-weight: bold;
  align-items: center;
  padding: 0px;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 30px;
}

.icon-button:hover {
  color: style.$light;
}

.inner-card {
  background: style.$secondary-dark;
  border-color: grey;
}

.lighter-card {
  background: style.$medium-grey;
}

.green-icon {
  color: style.$success;
}

.green-icon:hover {
  color: style.$success-hover;
}

.red-icon {
  color: style.$danger; // TODO fix me
}

.red-icon:hover {
  color: style.$danger-hover;
}

.row-1 {
  display: flex;
  align-content: center;
  padding-top: 4px;
}
