<div
  [ngClass]="{
    card: true,
    'inner-card': innerCard,
    'lighter-card': lighterCard,
    'default-card': !innerCard && !lighterCard,
  }"
>
  <span class="card-header">
    <span class="card-title">
      <span *ngIf="platformColor">
        <p-colorpicker
          [(ngModel)]="platformColor"
          inputId="cp-hex"
          class="mb-4"
        />
      </span>
      <h3 [ngClass]="{ 'space-header': platformColor }">
        {{ header }}
      </h3>
    </span>
    <div class="icon-group">
      <span *ngFor="let icon of icons; let i = index">
        <fa-icon
          id="i"
          index="i"
          [icon]="icon.icon"
          [ngClass]="{
            'icon-button': true,
            'red-icon': icon.type === 'DELETE',
            'green-icon': icon.type === 'CONFIRM',
          }"
          (click)="icon.onClick()"
          [title]="icon.tooltip"
        ></fa-icon>
      </span>
    </div>
  </span>
  <ng-content></ng-content>
</div>
