@use "styles" as style;
@use "variables" as customVars;

$card-header-height: 15px;
$card-header-margin: 4px;

h3 {
  margin: 1px;
}

.icon-button {
  display: inline-block;
  font-weight: bold;
  align-items: center;
  padding: 0px;
  margin: 2px;
  border: none;
  background: none;
  cursor: pointer;
}

.panel {
  padding: customVars.$card-padding;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 4px;
  border-style: solid;
  border-color: style.$light;
  background: style.$primary-dark;
}

.card-title {
  border-bottom: solid 1px whitesmoke;
  display: flex;
  justify-content: space-between;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  height: $card-header-height;
  margin-bottom: $card-header-margin;
  align-items: center;
}

.checkbox {
  margin-left: 4px;
}
