<app-card header="Scenario Info">
  <form class="formGroup" [formGroup]="scenarioInfo">
    <app-aoi-card [aoiInfo] />
    <app-card
      header="Platforms ({{ platformCount }})"
      [innerCard]="true"
      [icons]="icons"
    >
      <div *ngFor="let platformForm of formGroups; let i = index">
        <div *ngIf="platformForm != undefined">
          <app-platform
            id="i"
            [index]="i"
            [platformForm]="platformForm"
            (onDeleteClicked)="removePlatform(i)"
            [redIcon]="true"
          />
        </div>
      </div>
      <button class="btn button" (click)="addPlatform()">
        <fa-icon [icon]="addIcon"></fa-icon>
        Add Platform
      </button>
    </app-card>
  </form>
</app-card>
