@use "../../cards/card.component.scss" as card;
@use "styles" as style;
@use "variables" as customVars;

.modal-custom {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
}

.modal-dimensions {
  height: 610px;
  width: 1100px;
  min-width: 1100px;
}
