@use "styles" as style;

.toast-buttons {
  display: flex;
  flex-direction: row;
}

.button {
  border-radius: 5px;
  width: 100px;
  height: 30px;
}

.confirm {
  background-color: style.$success;
}
.confirm:hover {
  background-color: style.$success-hover;
}

.modal-dimensions {
  border: 1px solid style.$light;
  border-radius: 5px;
  z-index: 2005;
}

.modal-custom {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
}

.modal-content,
.modal-body,
.modal-header {
  background-color: style.$background-dark;
}

.deny {
  background-color: style.$danger;
}
.deny:hover {
  background-color: style.$danger-hover;
}
