@use "../card.component.scss" as card;
@use "styles" as style;
@use "variables" as customVars;

input {
  margin-left: style.$default-margin;
}

select {
  border-radius: 5px;
  margin-left: style.$default-margin;
  height: 23.68px;
}

table {
  max-width: 100%;
  min-width: 100%;
  overflow: auto;
  border: 1px solid style.$light;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0px !important;
}

tr {
  border: 1px solid style.$light;
}

tr,
th,
td {
  max-width: 100%;
  padding: 0px !important;
  padding-left: style.$default-margin !important;
  padding-right: style.$default-margin !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-content: center;
}

td:not(:first-child),
th:not(:first-child) {
  border-left: 1px solid rgb(87, 87, 87);
}

// Custom Classes

.actions {
  display: flex;
  justify-content: center;
  border-bottom-width: 0 !important;
}

.container {
  margin-top: style.$panel-margin;
}

.icon-disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.formGroup {
  overflow: hidden;
}

.icons {
  display: flex;
  justify-content: flex-end;
  padding-right: style.$default-margin;
}

.input-small {
  width: 50px;
}

.name {
  min-width: 150px;
}

.table-disabled {
  color: style.$disabled !important;
}

.table-row {
  margin-top: style.$default-margin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
  justify-self: center;
  max-height: 190px;
}

.table-responsive {
  width: 100%;
}

.mutli-col {
  display: flex;
  justify-content: space-between;
}

.waypoint-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #3e4347;
  width: 100%;
  border: 1px solid style.$light;
  border-bottom-width: 0px;
  height: 25px;
  color: white;
}

.waypoint-title {
  display: flex;
  justify-content: center;
}

// DnD BELOW

.drag-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;

  .handle {
    margin-right: 5px;
  }
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.col-xs {
  width: 2%;
}

.col-sm {
  width: 10%;
}

.col-md {
  width: 20%;
}
