<app-card header="PLATFORM">
  <form class="formGroup" [formGroup]="platform">
    <div class="container">
      <div class="row row-col-3">
        <div class="col">
          <label title="isPlaform" for="isPlaform">IsPlatform</label>
          <input
            type="checkbox"
            id="isPlaform"
            formControlName="isPlaform"
            placeholder="IsPlatform"
            class="checkbox"
          />
        </div>
        <!-- <div class="col">
          <label title="label" for="label">Label</label>
          <input
            type="text"
            id="label"
            formControlName="label"
            placeholder="Label"
          />
        </div>
        <div class="col">
          <label title="Latitude" for="lat">Latitude</label>
          <input
            type="number"
            id="lat"
            formControlName="lat"
            placeholder="Latitude"
          />

          <label title="Longitude" for="lon">Longitude</label>
          <input
            type="number"
            id="lon"
            formControlName="lon"
            placeholder="Longitude"
          />
        </div>
        <div class="col">
          <label title="Elevation (km)" for="elevation">Elevation (km)</label>
          <input
            type="number"
            id="elevation"
            formControlName="elevation"
            placeholder="Elevation (km)"
          />

          <label title="Radius of Area (nmi)" for="radius"
            >Radius of Area (nmi)</label
          >
          <input
            type="number"
            id="radius"
            formControlName="radius"
            placeholder="Radius of Area (nmi)"
          />
        </div> -->
      </div>
    </div>
  </form>
</app-card>
