<app-card
  header="{{ name }}"
  [lighterCard]="true"
  [icons]="icons"
  [platformColor]="defaultColor"
  (onColorChange)="onColorChange($event)"
>
  <form class="formGroup" [formGroup]="platformForm">
    <div class="container">
      <div class="row-1 mutli-col">
        <div class="col">
          <label for="name">Name</label>
          <input
            id="name"
            type="text"
            formControlName="name"
            (blur)="onUpdate()"
            [readonly]="readonly"
            class="name"
          />
        </div>
        <div class="col">
          <label tooltip="Type" for="type">Type</label>
          <select formControlName="type" id="type" size="small">
            <option *ngFor="let option of platformTypeOptions" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>
        <div class="col">
          <input
            id="friendly"
            type="checkbox"
            formControlName="friendly"
            (change)="onUpdate()"
            class="checkbox"
          />
          <label for="friendly">Is Friendly</label>
        </div>
      </div>
      <div class="row-1 mutli-col">
        <div *ngIf="platformType == 'AIR'" class="col">
          <label for="maxAlt">Max Alt</label>
          <input
            class="input-small"
            id="maxAlt"
            type="number"
            formControlName="maxAlt"
            (blur)="onUpdate()"
            [readonly]="readonly"
          />
        </div>
        <div *ngIf="platformType == 'MARITIME'" class="col">
          <label for="maxDepth">Max Depth</label>
          <input
            class="input-small"
            id="maxDepth"
            type="number"
            formControlName="maxDepth"
            (blur)="onUpdate()"
            [readonly]="readonly"
          />
        </div>
        <div class="col">
          <label for="maxSpeed">Max Speed</label>
          <input
            class="input-small"
            id="maxSpeed"
            type="number"
            formControlName="maxSpeed"
            (blur)="onUpdate()"
            [readonly]="readonly"
          />
        </div>
        <div class="col">
          <label for="reportingFrequency">Reporting Freq</label>
          <input
            class="input-small"
            id="reportingFrequency"
            type="number"
            formControlName="reportingFrequency"
            (blur)="onUpdate()"
            [readonly]="readonly"
          />
        </div>
      </div>
      <div class="row-1 table-row">
        <div class="waypoint-header row-1">
          <div class="col-4"></div>
          <div class="col-4 waypoint-title"><h1>Waypoints</h1></div>
          <div class="col-4 icons">
            <fa-icon
              [icon]="editIcon"
              (click)="openModal()"
              title="Edit Waypoints"
              class="icon-button"
            ></fa-icon>

            <!-- data-toggle="modal"
              data-target="#exampleModal" -->
            <fa-icon
              *ngIf="!waypointsLocked"
              [icon]="lockOpenIcon"
              (click)="lockClicked()"
              title="Lock Waypoints"
              class="icon-button"
            ></fa-icon>
            <fa-icon
              *ngIf="waypointsLocked"
              [icon]="lockIcon"
              (click)="lockClicked()"
              title="Unlock Waypoints"
              class="icon-button"
            ></fa-icon>
          </div>
        </div>
        <div *ngIf="shouldShowWaypointTableRows" class="table-responsive">
          <table
            class="table table-striped table-dark table-hover table-condensed"
          >
            <thead>
              <tr>
                <th scope="col" class="actions">#</th>
                <th scope="col">Lat</th>
                <th scope="col">Lon</th>
                <th scope="col">Altitude</th>
                <th scope="col">Speed</th>
                <th scope="col">Date/Time</th>
                <th scope="col" class="actions">Actions</th>
              </tr>
            </thead>
            <tbody
              cdkDropList
              (cdkDropListDropped)="drop($event)"
              [ngClass]="{
                'table-disabled': waypointsLocked,
              }"
            >
              <tr
                *ngFor="let waypoint of waypoints; let i = index"
                cdkDrag
                [cdkDragDisabled]="waypointsLocked"
                cdkDragLockAxis="y"
              >
                <th class="col-xs">
                  <div class="drag-handle">
                    <ng-container [ngTemplateOutlet]="dragHandleTmpl">
                    </ng-container>
                  </div>
                </th>
                <td>{{ waypoint.lat }}</td>
                <td>{{ waypoint.lon }}</td>
                <td>{{ waypoint.alt }}</td>
                <td>{{ waypoint.speedKts }}</td>
                <td>{{ waypoint.datetime }}</td>
                <td class="actions">
                  <div class="table-buttons">
                    <fa-icon
                      [icon]="copyIcon"
                      (click)="duplicateWaypoint(i)"
                      title="Duplicate Waypoint"
                      [ngClass]="{
                        'icon-button': true,
                        'icon-disabled': waypointsLocked,
                      }"
                    ></fa-icon>
                    <fa-icon
                      [icon]="removeIcon"
                      (click)="deleteWaypoint(i)"
                      title="Delete Waypoint"
                      [ngClass]="{
                        'icon-button': true,
                        'red-icon': true,
                        'icon-disabled': waypointsLocked,
                      }"
                    ></fa-icon>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</app-card>

<ng-template #dragHandleTmpl>
  <svg
    class="bi bi-list handle"
    width="1em"
    height="1em"
    viewBox="0 0 16 16"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
      clip-rule="evenodd"
    />
  </svg>
</ng-template>
