@use "styles" as style;
@use "../../general/base-map.component.scss";

.buttons {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: center;
  pointer-events: none;
}

.individual-button {
  z-index: 10;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 8px;
}

.map-dimensions {
  height: 45.5vh !important;
  width: 49.5vw;
  z-index: 0;
  position: relative;
  margin: style.$panel-margin;
  border-radius: 5px;
}

// 833x1064
