@use "styles" as style;

fa-icon {
  width: 20px;
  height: 20px;
  pointer-events: all;
}

.buttons {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: center;
  pointer-events: none;
}

.container {
  position: relative;
  left: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.individual-button {
  z-index: 10;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 8px;
}

.map-dimensions {
  height: 50vw !important;
  width: 100%;
  z-index: 0;
  position: relative;
  margin: style.$panel-margin;
  border-radius: 5px;
}

.mouse-position {
  text-align: right;
  position: absolute;
  padding: 8px;
  z-index: 10;
  pointer-events: none;
  color: grey;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: none;
}
