@use "sass:map";
@use "./variables" as customVars;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// colors extracted from bootswatch.com/darkly
$primary: #375a7f;
$secondary: #363636;
$success: #00ac4d;
$info: #3498db;
$warning: #f39c12;
$danger: #f34e3b;
$light: #adb5bd;
$dark: #242424;

$medium-grey: #575757;
$success-hover: #00c95a;
$danger-hover: #ff6958;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$primary-dark: $dark;
$secondary-dark: $secondary;
$background-dark: #161616;

$disabled: #303030;

@import "../../node_modules/bootstrap/scss/bootstrap";

:root {
  font-size: customVars.$font-size-base;
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0rem;
}

html,
body {
  font-size: customVars.$font-size-base;
  line-height: customVars.$line-height-base;
  height: 100%;
  background-color: $background-dark;
}

body {
  font-family: customVars.$font-family-sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: customVars.$font-family-monospace;
  font-variant: small-caps;
  font-size: customVars.$font-size-headers;
  line-height: customVars.$line-height-headers;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h1 {
  font-size: customVars.$font-size-big;
}

$classification-banner-height: 20px;
$app-bar-height: 40px;
$content-panel-height: calc(
  100vh - $app-bar-height - $classification-banner-height -
    $classification-banner-height
);
$panel-margin: 4px;
$panel-padding: 2px;

$panel-width: calc(50vw - ($panel-margin * 4));
$panel-height: calc(
  100vh - ($panel-margin * 2) - ($classification-banner-height * 2)
);

body {
  scrollbar-width: thin;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input {
  margin-left: 4px;
}

.ag-center-cols-viewport {
  // background-color: $background-dark !important;
  background-color: $background-dark !important;
}

.custom-tooltip {
  background-color: $background-dark !important;
  max-width: 300px !important;
  padding: 8px 12px;
}

input {
  margin-left: 4px;
  width: 100%;
  border-radius: 5px;
}

label {
  white-space: nowrap;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
