@use "styles" as style;

.top-div {
  background-color: rgb(0, 122, 61); 
  text-align: center;
  height: style.$classification-banner-height;
  width: 100vw;
  z-index: 100;
  position: fixed;
  left: 0px;
  color: white;
}

.top-classification-bar {
  top: 0;
}

.bottom-classification-bar {
  bottom: 0;
}
