<div
  class="modal fade modal-custom"
  tabindex="-1"
  role="dialog"
  #waypointModal
  id="waypointModal"
  aria-labelledby="waypointModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content modal-dimensions">
      <div class="modal-header">
        <h5 class="modal-title">{{ platformName }} Waypoint Editor</h5>
      </div>
      <div class="modal-body">
        <app-waypoint-editor [waypointPlatformData]="waypointPlatformData" />
      </div>
      <div class="modal-footer">
        <div *ngIf="theresAnError">
          <p class="error">
            {{ errorMessage }}
          </p>
        </div>

        <button
          type="button"
          class="btn btn-primary"
          (click)="closeAndSaveModal()"
        >
          Save changes
        </button>
        <button
          type="button"
          class="btn btn-error"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          Quit
        </button>
      </div>
    </div>
  </div>
</div>
