@use "styles" as style;
@use "../../cards/card.component.scss";

fa-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.custom-table,
.table-custom {
  height: 100%;
  max-width: 600px !important;
  min-width: 400px !important;
  overflow: hidden;
}

.datetime-dimensions {
  width: 150px !important;
}

.flex-modal {
  display: flex;
  flex-direction: row;
}

.map-dimensions {
  height: 100%;
  width: 50%;
}

.model-dimensions {
  height: 600px;
  width: 1100px;
}

.modal-custom {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
}
