<div class="panel-style right-panel">
  <div class="content">
    <div class="title">
      <h1>Info</h1>
    </div>

    <app-card header="Info">
      <form class="formGroup" [formGroup]="info">
        <div class="container">
          <div class="row-1 row-custom">
            <div class="col">
              <label for="scenarioAuthor">Author:</label>
              <input
                id="scenarioAuthor"
                type="text"
                class="input"
                formControlName="scenarioAuthor"
              />
            </div>
          </div>
          <div class="row-1 row-custom">
            <div class="col">
              <label for="dateOfCreation">Date of Creation:</label>
              <input
                id="dateOfCreation"
                type="text"
                formControlName="dateOfCreation"
                class="readonly input"
                readonly
              />
            </div>
          </div>
          <div class="row-1 row-custom">
            <div class="col detailRow">
              <label for="details">Details:</label>
              <textarea
                id="details"
                type="text"
                formControlName="details"
                class="details input"
                placeholder="Add any details about this scenario that might be worth while to record"
              ></textarea>
            </div>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
